* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; /* Yeh theek kar diya hai */
}
body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(255, 113, 160); */
    background: url('images/9853371_19320.jpg') no-repeat;
    background-position: center;
    background-size: 1900px;
}
.box {
    background: transparent;
    padding: 30px;
    color: black;
    width: 480px; /* Box ki ek fix width de di hai taake form aik jaisa lagay */
    border-radius: 12px;
    transform: scale(1.2);
}
h1 {
    margin-bottom: 10px;
    margin-left: 5px;
}
span {
    display: inline-block;
        margin-left: 5px;

    margin-bottom: 15px;
    font-size: 14px;
}
label {
    display: inline-block;
        margin-left: 5px;
        font-weight: bold;
    margin-bottom: 10px;
}
input {
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    padding-right: 46px;
    border: none;
       background: rgba(255, 255, 255, 0.658);

    color: black;
    outline: none;
}
input::placeholder {
    color: rgba(70, 70, 70, 0.856);
}
input:focus {
    border: 1px solid rgb(153, 180, 255);
}
button {
    width: 100%;
    border: none;
    margin-top: 5px;
    padding: 12px;
        background-color: rgba(22, 21, 21, 0.884);
        color: white;
    cursor: pointer;
    transition: transform 0.3s ease;
}
button:hover {
    transform: scale(1.02);

}
svg {
    position: absolute;
    top: 15%;
    z-index: 2;
    pointer-events: none;
                color: rgba(70, 70, 70, 0.856);

    transform: translateX(-150%)
}
.gmail {
    position: relative;
    transition: transform 0.3s ease;
}
.gmail:focus-within {
    transform: scale(1.03);
}